@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}

:root {
  --background: #f5f5f5;
  --foreground: #ffffff;
  --accent: #4e57ef;
  --accent-light: #818cf8;
  --text: #404040;
  --border: #e5e7eb;
  --light: #f3f4f6;
  --gray-light: #6b7280;
  --dark: #0e1014;
  --primary: var(--dark);
}

.dark {
  --background: #000;
  --foreground: #171717;
  --accent: #4e57ef;
  --accent-light: #818cf8;
  --primary: #fff;
  --border: #c9cacc1e;
  --text: #fff;
  --light: #f3f4f6;
  --gray-light: #bbbbbb;
  --dark: #111827;
}

.paddings {
  @apply px-2 py-2 sm:px-4 lg:px-8 lg:py-4 xl:px-16 xl:py-6;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.darkBorder {
  @apply dark:border-accent border border-transparent;
}

.maxContentWidth {
  @apply mx-auto max-w-7xl;
}

.pageHeading {
  @apply dark:text-gray-light text-xl font-semibold text-slate-500;
}

.inputField {
  @apply focus:ring-accent bg-light text-dark block w-full rounded-md border-0 px-4 py-2 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus-visible:outline-none sm:leading-6 lg:px-6 lg:py-3 lg:text-lg;
}

.primaryBtn {
  @apply bg-accent text-light hover:border-accent hover:text-accent focus-visible:outline-accent rounded-md border-2 border-transparent px-4 py-3 text-sm font-semibold shadow-sm hover:bg-transparent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 lg:text-lg;
}

.expandLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* <!-- HTML !-->
<button class="button-74" role="button">Button 74</button>

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
