@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}

:root {
  --background: #f5f5f5;
  --foreground: #ffffff;
  --accent: #4e57ef;
  --accent-light: #818cf8;
  --text: #404040;
  --border: #e5e7eb;
  --light: #f3f4f6;
  --gray-light: #6b7280;
  --dark: #0e1014;
  --primary: var(--dark);
}

.dark {
  --background: #000;
  --foreground: #171717;
  --accent: #4e57ef;
  --accent-light: #818cf8;
  --primary: #fff;
  --border: #c9cacc1e;
  --text: #fff;
  --light: #f3f4f6;
  --gray-light: #bbbbbb;
  --dark: #111827;
}

.paddings {
  @apply px-2 py-2 sm:px-4 lg:px-8 lg:py-4 xl:px-16 xl:py-6;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.darkBorder {
  @apply dark:border-accent border border-transparent;
}

.maxContentWidth {
  @apply mx-auto max-w-7xl;
}

.pageHeading {
  @apply dark:text-gray-light text-xl font-semibold text-slate-500;
}

.inputField {
  @apply focus:ring-accent bg-light text-dark block w-full rounded-md border-0 px-4 py-2 text-sm shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus-visible:outline-none sm:leading-6 lg:px-6 lg:py-3 lg:text-lg;
}

.primaryBtn {
  @apply hover:shadow-hover block max-w-[250px] rounded-full border px-2 py-2 text-center font-semibold transition-all hover:translate-x-[2px] hover:translate-y-[-2px] sm:px-8 lg:px-10 lg:py-4;
}

.submitBtn {
  @apply bg-accent text-light hover:border-accent hover:text-accent focus-visible:outline-accent rounded-md border-2 border-transparent px-4 py-3 text-sm font-semibold shadow-sm hover:bg-transparent focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 lg:text-lg;
}

.expandLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
